// Colors
$white: #ffffff !default;
$black: #000000 !default;
$scampi: #E1C1FF !default;
$mercury: #e6e6e6 !default;
$gray: #002642 !default;
$blue: #B0D3FF !default;
$lightblue: #4B1997 !default;


// Font Family
$CeraPRO: 'CeraPro-Regular' !default;
$ProximaNovaRegular: 'ProximaNova-Regular' !default;
$ProximaNova: 'ProximaNova-Black' !default;
$fontawesome: FontAwesome !default;
$CeraPRObold: 'CeraPro-Bold' !default;
$object_fit: 'object-fit:cover' !default;
$CeraPROblack: 'CeraPro-Black' !default;
$CeraPROlight: 'CeraPro-Light' !default;
$CeraPROmedium: 'CeraPro-Medium' !default;

// Font Weight
$weight_400: 400 !default;
$weight_500: 500 !default;
$weight_600: 600 !default;
$weight_700: 700 !default;
$weight_800: 800 !default;
$weight_900: 900 !default;